/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
  color:#454545;
  background:url("../../../../../default/files/bg-header.gif") repeat-x scroll center top white;
}

#page {
}

#page a {
	color:#106297;
	text-decoration:none;
}

#page a:hover {
	text-decoration:underline;
}

a.active {
color:#7db5d9;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}



/*
 * Header
 */

#header {
	height:80px;
	margin:0px auto 0px auto;
	width:980px;
	font-family:Arial,Helvetica,sans-serif;
	background:url("../../../../../default/files/bg-header.gif") repeat-x scroll center top white;
	
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}
#logo img {
  vertical-align: bottom;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
  width:980px;
  margin:0px auto 0px auto;
  
}

/*
 * Main (container for everything else)
 */

#main {
	width:980px;
	margin:0px auto 0px auto;
}

/*
 * Content
 */

#content {
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

.front h1.title /* that annoying front page title */ {
display:none;
}

h1.title {
	color: #13659B;
    font-size: 30px;
    font-weight: normal;
    margin:15px 0px 0px 0px;
	padding-top:55px;
	width:735px;
}
 body.one-sidebar.sidebar-first h1.title,  body.two-sidebars h1#page-title
{ /* on two-column layout pages bump right */

color: #13659B;
    font-size: 30px;
    font-weight: normal;
    margin:15px 0px 0px 56px;
	padding-top:55px;
	background:url(../../../../../default/files/bg-h2.gif) top right no-repeat;
	width:735px;
	line-height:130%;
 }
 
 div#content.column dl, div#main h3, form#user-register-form, form#user-pass {
	 margin-left:56px;
 }
 
 div#main article.node  div.field.field-name-body div.field-items h3 {
	 margin-left:0px;
 }
 
 div#content.column dl dd {
	 margin-left:0px;
 }
 
  div#content.column dl dt {
	 font-size:12px;
	 margin-bottom:8px;
 }
 
 

 
  body.one-sidebar.sidebar-first ul.tabs.primary { /* on two-column layout pages bump editing tabs right */
	   margin:15px 0px 0px 56px;
	   font-size:12px;
  }
 

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 5px;
}

article {
	padding-bottom:40px;

}

.front article {
	padding-bottom:0px;
}

article h3 {
	font-size: 18px;
	margin:6px 0px 0px 0px;
	
}

article h4 {
	margin:18px 0px 0px 0px;
	font-size:15px;
	color:#13659B;
}


article p {
	line-height:125%;
	font-size:14px;
	margin:0px;
}

article p.intro_text {
	font-size:14px;
}

/*
article span.date-display-single {
	margin-left:56px;
}
*/
ul.action-links {
	margin-left:56px;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 0em 0em 0em 3.5em; /* Drupal core uses "6px 0" margin */
}

.front div.messages {
	margin:0px;
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}
